body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://source.unsplash.com/featured/?city,travel');
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.carousel {
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel-item {
    display: none;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.carousel-item.active {
    display: block;
}

.weather-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-weather-column{
    width: 50%;
}

.second-weather-column {
    width: 50%;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

.second-weather-column .icon{
    max-width: 6%; /* Maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the image vertically with the text */
}

.temperature-info {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
width: 100%;
}

.temperature-range {
font-size: 24px;
color: #333;
margin-right: 10px;
}

.weather-condition{
font-size:18px;
}

.min-temp {
color: #888;
font-size: 20px;
}

.max-temp {
font-size: 24px;
}

.weather-icon {
width: 40px;
height: 40px;
}

.city h2, .event h2 {
    color: #333;
    margin-bottom: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background: #555;
    color: #fff;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background: #333;
}

.event-carousel, .place-carousel {
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.event-carousel-item, .place-carousel-item {
    width: 100%;
    display: none;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.event-carousel-item.active, .place-carousel-item.active {
    display: block;
}

.event-item, .place-item {
    margin-bottom: 20px;
}

.event-item ul {
    padding-left: 20px;
}

.circular-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -50px;
    z-index: 2;
    align-self: flex-start;
  }

.text-and-carousel {
    width: 100%;
    padding-top: 50px;
    z-index: 1;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.text-title {
    display: inline-block;
    flex-grow: 1;
    margin: 0 20px;
}
