body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://source.unsplash.com/featured/?city,travel');
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 70px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.map-container {
    flex: 1;
    margin-right: 20px;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.header-text{
    text-align: center;
    font-size: 1.5em;
}


#map {
    height: 400px;
    width: 100%;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background: #555;
    color: #fff;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background: #333;
}

.dining-carousel {
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.dining-carousel-item {
    width: 100%;
    display: none;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.dining-carousel-item .icon{
    max-width: 3%; 
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; 
}

.dining-carousel-item.active {
    display: block;
}

.dining-item {
    margin-bottom: 20px;
}

.circular-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -100px;
    margin-bottom: -50px;
    z-index: 2;
    position: relative;
}

.text-and-carousel {
    width: 100%;
    padding-top: 50px;
    z-index: 1;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.text-title {
    display: inline-block;
    flex-grow: 1;
    margin: 0 20px;
}

.row {
    display: flex;
    justify-content: space-between;
  }
  
.column {
    width: 33.33%; 
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      padding: 0;
    }
    .content-wrapper {
        flex-direction: column;
    }
    .map-container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .text-container {
        width: 100%;
    }
}